div {
    counter-reset: section;
}

h1, h2 {
    font-weight: normal;
}

h1 {
    counter-reset: subsection;
}

h1::before {
    counter-increment: section;
    content: counter(section);

    color: yellow;
    background-color: green;
    border: 2px solid yellow;
    padding: 2px 10px;
    margin-right: 20px;
    text-align: center;
}

h2::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection);

    color: yellow;
    background-color: green;
    border: 2px solid yellow;
    padding: 2px 10px;
    margin: 0 20px 0 50px;
    text-align: center;
}