div, p {
    position: absolute;
}

.backstage {
    width: 800px;
    height: 200px;
    left: calc(50% - 400px);
    top: calc(50% - 100px);
}

.backstage > div:nth-child(2) {
    left: 0;
}

.backstage > div:nth-child(3) {
    right: 0;
}

.door {
    width: 396px; height: 196px;
    display: inline-block;
    background: #2BDED8;
    border: 2px solid #0F726D;
    transition-duration: 1.5s;
}

.backstage:hover .left {
    transform: perspective(400px) rotateY(60deg);
}

.backstage:hover .right {
    transform: perspective(400px) rotateY(-60deg);
}

.backstage > p {
    margin: 0;
    font-size: 30px;
    line-height: 200px;
    text-align: center;
    width: 800px;
}
