div {
    position: absolute;
}

.container {
    width: 800px;
    height: 280px;
    top: calc(50% - 140px);
    left: calc(50% - 400px);
    counter-reset: section;
}

.container div:nth-child(1) {
    top: 0;
    width: 800px;
    text-align: center;
    font-size: 50px;
    color: #BD233B;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-bottom: 7px;
}

.container div:nth-child(2),
.container div:nth-child(3) {
    height: 200px;
    width: 360px;
    bottom: 0;
}

.container div:nth-child(2) {
    left: 0;
}

.container div:nth-child(3) {
    right: 0;
}

p {
    font-size: 25px;
    border-bottom: 2px solid black;
    padding-bottom: 7px;
}

p::before {
    counter-increment: section;
    content: counter(section);

    color: white;
    background-color: #00FFF8;
    font-size: 40px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 15px;
    margin-right: 20px;
    text-align: center;
}