.clock, .circle, .clock-minutes, .clock-hours {
    position: absolute;
}

.circle, .clock-minutes, .clock-hours {
    background-color: #D56851;
}

.clock {
    width: 300px;
    height: 300px;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    border-radius: 50%;
    border: 2px solid #D56851;
}

.circle {
    z-index: 2;
    width: 10px;
    height: 10px;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    border-radius: 50%;
}

.clock-minutes {
    width: 2px;
    height: 120px;
    top: calc(50% - 120px);
    left: calc(50% - 1px);
    transform-origin: 1px 120px;
    animation: clock 60s steps(1000, end) infinite;
}

.clock-hours {
    width: 2px;
    height: 80px;
    top: calc(50% - 80px);
    left: calc(50% - 1px);
    transform-origin: 1px 80px;
    animation: clock 360s steps(1000, end) infinite;
}

@keyframes clock {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}