body {
    width: 100%;
    background-color: #FCF4CF;
}

div {
    width: 80px;
    height: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../images/hipster.svg");
    background-position: center;
    background-repeat: no-repeat;
}

img {
    position: absolute;
    transition-duration: 0.5s;
}

div:hover img:nth-child(1) {
    transition-delay: 1s;
    transform: translateX(0) translateY(-110px);
}

div:hover img:nth-child(2) {
    transition-delay: 0s;
    transform: translateX(-100px) translateY(-70px) rotate(-135deg);
}

div:hover img:nth-child(3) {
    transition-delay: 0.5s;
    transform: translateX(-50px) translateY(-90px) rotate(-20deg);
}

div:hover img:nth-child(4) {
    transition-delay: 1.5s;
    transform: translateX(50px) translateY(-90px) rotate(20deg);
}

div:hover img:nth-child(5) {
    transition-delay: 2s;
    transform: translateX(100px) translateY(-70px) rotate(45deg);
}