nav a{
    width: 100px;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}

nav a:hover{
    margin-top: 9px;
    margin-bottom: -1px;
    border: 2px solid black;
}